* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(255, 255, 255);
}
/* Style untuk tombol */
button:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

/* Style untuk header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin: 0;
    background-color: rgb(1, 0, 63);
    z-index: 1000; /* Memastikan header selalu di layer paling atas saat di-scroll */
}

nav {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.logo {
    color: white;
    font-weight: bold;
    text-align: left;
    padding-right: 100px;
}

.nav-list {
    color: white;
    list-style: none;
    display: flex;
    gap: 20px;
}

/* style untuk main */

main {
    color:rgb(0, 0, 0);
    margin: 130px 30px;
    font-family: sans-serif;
}

/*beranda*/
#beranda {
    display: flex;         
    justify-content: space-between;
    align-items: center;
    gap: 20px;              /* Jarak antara foto dan teks */
    margin-bottom: 50px;
}

.br-img {
    background:linear-gradient(to bottom, #00eeff, #236e64);
    height: 250px;
    width: 250px;
    border-radius:10%;
}

.foto1 {
    width: 250px;           /* Ukuran diperbesar sedikit agar teks h1 seimbang */
    height: 260px;
    border-radius: 10%;
}

.br-txt {
    flex: 1;
}

.txt-color {
   background: linear-gradient(to right, #7c18ff, #0a37ff, #00e5ff);
  -webkit-background-clip: text;
  background-clip: text;        
  -webkit-text-fill-color: transparent;
}

/*tentang saya*/
#tentang-saya {
    display: flex;         
    justify-content: flex-start;
    gap: 50px;              /* Jarak antara foto dan teks */
    margin-bottom: 50px;
    flex-wrap: wrap;          /* Membuat teks dan foto bisa membungkus jika layar sempit */
}

.box1 {
    background:linear-gradient(to top, #7c18ff, #0a37ff, #00e5ff);
    padding:10px 20px;
    width: 500px;
    height: 300px;
    border-radius: 20px;
}

/*pendidikan*/
#pendidikan {

}

/*pengalaman*/
#pengalaman {

}

/*portofolio*/
#portofolio {

}

/*kontak*/
#kontak {
   
}

/*footer*/
.ftr {
     color: white;
    background-color: #0a37ff;
    width: auto;
    height: auto;
    padding: 20px 20px;
}